@namespace WebApplication.Models.Hotels
@model HotelRoomViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="header-job-add">
        <h1>Добавить номер</h1>
    </div>
    <form action="/Hotels/AddRoom" method="post">
        @Html.HiddenFor(model => model.Hotel.Id)
        <div>
            <div>
                @Html.LabelFor(x => x.Number)
                @Html.TextBoxFor(x => x.Number)
                @Html.ValidationMessageFor(x => x.Number)

            </div>
            <div>
                @Html.LabelFor(x => x.Floor)
                @Html.TextBoxFor(x => x.Floor)
                @Html.ValidationMessageFor(x => x.Floor)
            </div>
            <div>
                @Html.DisplayNameFor(x => x.TypeRoom):
                @Html.DropDownListFor(x => x.TypeRoom,
                    Html.GetEnumSelectList(typeof(TypeRoom)))
                @Html.ValidationMessageFor(x => x.TypeRoom)
            </div>
        </div>
        <input type="submit" value="Сохранить" />
    </form>
</div>