@model OfficeViewModel
@using WebApplication.Models.Job;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.IsAnyAddress)
{
    <span>Извините в данный момент, вы не можете добавить офис.</span>
    <span>Нет адресов.</span>
}
else
{
    <div>

        <div class="header-office-add">
            <h1>Редактировать офис</h1>
        </div>

        <form name="new-office" action="/Job/UpdateOffice" method="post">

            @Html.HiddenFor(x => x.Id, Model.Id)

            <div class="wrapper-row">
                <div>
                    @Html.LabelFor(x => x.Name)
                    @Html.TextBoxFor(x => x.Name)
                </div>
                <div class="field-error">
                    @Html.ValidationMessageFor(x => x.Name)
                </div>
            </div>


            <div class="wrapper-row">
                <div>
                    @Html.LabelFor(x => x.Address)
                    @Html.DropDownListFor(
                        m => m.CurrentAdressId,
                            new SelectList(Model.Addresses,
                                $"{nameof(AdressViewModel.Id)}",
                                $"{nameof(AdressViewModel.FullName)}"))
                </div>
                <div class="field-error">
                    @Html.ValidationMessageFor(x => x.Address)
                </div>
            </div>

            <div>
                Название организации:

                @Html.DropDownListFor(
                    m => m.CurrentOrganizationId,
                        new SelectList(Model.Organizations,
                            $"{nameof(OrganizationViewModel.Id)}",
                            $"{nameof(OrganizationViewModel.Name)}"))
            </div>

            <input class="submitBatton" type="submit" value="Изменить" />
        </form>
    </div>

}
