@model ManageOrganizationsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        var paginatorUrl = '/Job/Organizations';
    </script>
    <script src="~/js/paginator.js"></script>
}

<div id='users'>
    <h1>Перечень организаций</h1>
    <div>
        <a href="@Url.Action("NewOrganization", "Job")"><span class="icon add" title="Добавить работодателя"></span></a> |
    </div>

    @Html.Partial("/Views/Shared/_paginatorInfo.cshtml", Model.PaginatorInfo)

    <table>
        <tr>
            <th>
                @Html.ActionLink("Id", "Organizations", "Job",
                    new
                         {
                        page = Model.PaginatorInfo.Page,
                        pageSize = Model.PaginatorInfo.PageSize,
                        sortColumn = SortColumn.Id,
                        sortDirection = Model.SortViewModel.colDirection(SortColumn.Id)
                        }
                )
            </th>
            <th>
                @Html.ActionLink("Наименование организации", "Organizations", "Job",
                    new
                    {
                        page = Model.PaginatorInfo.Page,
                        pageSize = Model.PaginatorInfo.PageSize,
                        sortColumn = SortColumn.OrganizationName,
                        sortDirection = Model.SortViewModel.colDirection(SortColumn.OrganizationName)
                    }
                )
            </th>
            <th>
                @Html.ActionLink("Руководитель", "Organizations", "Job",
                    new
                    {
                        page = Model.PaginatorInfo.Page,
                        pageSize = Model.PaginatorInfo.PageSize,
                        sortColumn = SortColumn.Name,
                        sortDirection = Model.SortViewModel.colDirection(SortColumn.Name)
                    }
                )
            </th>
            <th>
                Действия
            </th>
        </tr>
        @foreach (var organization in Model.Organizations)
        {
            <tr>
                <td>
                    @organization.Id
                </td>
                <td>
                    @organization.Name
                </td>
                <td>
                    @(organization.Owner == null ? "Нет руководителя" : organization.Owner.UserName)
                </td>
                <td>
                    <a href="@Url.Action("EditOrganization", "Job", new { @id = organization.Id })">
                        <span class="icon edit" title="Редактировать данные по организации"></span>
                    </a>
                    <a href="@Url.Action("RemoveOrganization", "Job", new { @id = organization.Id })">
                        <span class="icon remove" title="Удалить организацию"></span>
                    </a>
                </td>
            </tr>
        }
    </table>

    @Html.Partial("/Views/Shared/_paginatorInfo.cshtml", Model.PaginatorInfo)
</div>
